@font-face {
    font-family: 'Museo Sans Rounded';
    src: url('../fonts/museosansrounded-100-webfont.woff2') format('woff2'),
         url('../fonts/museosansrounded-100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

body{
	font: 100 14px/1.3 'Museo Sans Rounded', sans-serif;
	background: #c5c5c8 url('../img/bg-prod.png') no-repeat 50% / cover;
	color: #e1e1e1;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-product{
	display: flex;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	flex-direction: column;
	max-width: 690px;
	background-color: #111a28;
	border-radius: 16px;
	margin: auto;
	padding: 25px;
}

.logo{
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}

.ba-product__card{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ba-product__slide{
	display: flex;
	flex-grow: 2;
	flex-direction: column;

	padding-top: 45px;
}
.ba-product__info{
	flex-direction: column;
	width: 33%;
	flex-grow:  1;
	padding:  0 20px;
}
.ba-product__image{
	display: flex;
	justify-content: flex-start;
	padding: 0 15px 70px 15px;
	width: 100%;
	height: auto;
}
.ba-product__slidenav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0 15px 15px 0;
}
.ba-product__slidenav span>a{
	display: flex;
	border-radius: 50%;
	background-color:  #1f273f;
	width: 12px;
	height: 12px;
	margin: 0 8px 0 0;
}
.ba-product__slidenav span:nth-child(2)>a{
	background-color: #fcfcfc;
}
.ba-product__slidenav span:nth-child(3)>a{
	background-color: #EA2E2E;
}
.ba-product__slidenav span:nth-child(4)>a{
	background-color: #24E1E8;
}


.ba-product__slidenav span>a:hover{
	box-shadow: 0 0 1px 2px #7C8088;
}
.ba-product__tittle{
	margin: 0;
	font-size: 24px;
	line-height: 1;
}
.raiting{
	margin: 0;
	color: #F4BE0E;
}
.ba-product_size{
	display: flex;
	flex-wrap: wrap;
	padding: 27px 0;
}
.sizes, .qty{
	display: flex;
	flex-direction: row;
	padding: 5px 8px;
	border: 1px solid;
}
.sizes{
	margin-right: 2px;
}
.arrow{
	display: flex;
	align-self: center;
	width: 11px;
	height: 7px;
	margin-left: 12px;
}
.arrow:before{
	content: '';
    width: 12px;
    height: 1px;
    background: #e1e1e1;
    transform: rotate(40deg);
}
.arrow:after {
    content: '';
    width: 12px;
    height: 1px;
    background: #e1e1e1;
    transform: rotate(-40deg);
}
    .sizes:hover, .qty:hover, .ba-button:hover{
	background: #4c525a;
	opacity: 0.26;
}
.ba-button{
	display: flex;
	justify-content: center;
	color: #e1e1e1;
	background: transparent;
	border: 1px solid;
	padding: 10px;
	width: 184px;
}
